.sbst {
    background-color: #b845be;
}

div.departure:nth-child(even) .sbst {
    background-color: #9d3ba2;
}

.smrt {
    background-color: #c63d3d;
}

div.departure:nth-child(even) .smrt {
    background-color: #b43535;
}

.ttsg {
    background-color: #4ebe45;
}

div.departure:nth-child(even) .ttsg {
    background-color: #43a93b;
}

.gasg {
    background-color: #d7832c;
}

div.departure:nth-child(even) .gasg {
    background-color: #c47625;
}

.tibs {
    background-color: #d4ce24;
}

div.bus:nth-child(even) .tibs {
    background-color: #c3bd23;
}

.sbs {
    background-color: #76b7e9;
}

div.bus:nth-child(even) .sbs {
    background-color: #4291cd;
}

.lta {
    background-color: #e0e0e0;
}

div.bus:nth-child(even) .lta {
    background-color: #c9c9c9;
}

.css {
    background-color: #ccac78;
}

div.bus:nth-child(even) .css {
    background-color: #b49755;
}

.sentosa {
    background-color: #ea8814;
}

div.bus:nth-child(even) .sentosa {
    background-color: #bd6e10;
}

div.departure .north-south-line {
    background-color: #c63d3d;
}

div.departure:nth-child(even) .north-south-line {
    background-color: #b43535;
}

div.departure .east-west-line {
    background-color: #4ebe45;
}

div.departure:nth-child(even) .east-west-line {
    background-color: #43a93b;
}

div.departure .circle-line {
    background-color: #d7832c;
}

div.departure:nth-child(even) .circle-line {
    background-color: #c47625;
}
