label {
  width: 100vw;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  display: block;
}

label span {
  font-size: calc(4vw + 4vh);
  color: #121212;
}

input[type="checkbox"] {
  display: none;
}

input.showBusCheckbox:not(checked) + .busData {
  display: none;
}

input.showBusCheckbox:checked + .busData {
  display: flex;
  flex-direction: column;
}

div.busData > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(2vw + 2vh);
    background-color: #171717;
}

div.busData > div:nth-child(even) {
    background-color: #1e1e1e;
}

div.busData > div > span:nth-child(1) {
    margin-left: calc(1vw + 1vh);
    max-width: 50vw;
    line-height: calc(3.7vw + 3.7vh);
}

div.busData > div > span:nth-child(2) {
    margin-right: calc(1vw + 1vh);
    font-size: calc(1.5vw + 1.5vh);
    max-width: 50vw;
    text-align: right;
    line-height: calc(3vw + 3vh);
}

div.deregInfo {
    display: flex;
    flex-direction: column;
    text-align: right;

    margin-right: calc(1vw + 1vh);
    font-size: calc(1.5vw + 1.5vh);
    max-width: 50vw;
    text-align: right;

    margin-top: calc(-0.4vw - 0.4vh);
}

span.deregDate {
    display: inline-block;
    font-size: calc((100vw + 100vh) * 0.018) !important;
    margin-right: 0 !important;
}

span.timeToDereg {
    display: inline-block;
    font-size: calc((100vw + 100vh) * 0.01) !important;
    margin-right: 0 !important;
    margin-top: calc(-0.4vw - 0.4vh);
}
