extends ../textbar-layout

block head
  title TransportSG - Search
  
block title
  span Search

block scripts
  script(src='/static/scripts/search.js')
  
append style
  link(rel='stylesheet' href='/static/css/search.css')
  link(rel='stylesheet' href='/static/css/loading.css')

append content
  div#loading(style='display: none')
    div#loading-bar
  div#search-results
