div.departure {
  background-color: #2a2a2a;

  display: flex;
  height: calc(7vw + 7vh);
  margin-left: auto;
}

div.departure:nth-child(even) {
  background-color: #202020;
}

div.departure:nth-child(even) a.departureInfo.reservationsOnly {
  background-color: #43355b;
}

a.leftContainer {
  width: calc(5.25vw + 5.25vh);
  height: calc(7vw + 7vh);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #d2d2d2;
}

a.leftContainer:visited {
  color: #d2d2d2;
}

a.leftContainer span {
  min-width: calc(5.25vw + 5.25vh);
  text-align: center;
}

a.leftContainer span.topText {
  font-size: calc(1vw + 1vh);
  line-height: calc(1.1vw + 1.1vh);
}

a.leftContainer span.serviceNumber {
  font-size: calc(3vw + 3vh);
  line-height: calc(3vw + 3vh);
}

a.leftContainer span.serviceVariant {
  font-size: calc(2.25vw + 2.25vh);
  line-height: calc(1.5vw + 1.5vh);
  margin-top: calc(0.3vw + 0.3vh);
  margin-bottom: calc(0.3vw + 0.3vh);
}

a.leftContainer span.berth {
  margin-top: calc(0.1vw + 0.1vh);
  font-size: calc(0.9vw + 0.9vh);
}

a.departureInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

a.departureInfo span {
  margin-left: calc(1vw + 1vh);
}

a.departureInfo span.towards {
  font-size: calc(1vh + 0.9vw);

  color: #8f8f8f;
}

a.departureInfo span.destination {
  font-size: calc(1.6vw + 1.6vh);
  margin-top: calc(-0.3vw - 0.3vh);
  line-height: calc(1.9vw + 1.9vh);

  color: #c5c5c5;
}

div.plateContainer {
  margin-left: calc(0.5vw + 0.5vh);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

div.plate {
  font-size: calc(1.75vw + 1.5vh);
  padding-left: calc(0.75vw + 0.75vh);
  padding-right: calc(0.75vw + 0.75vh);

  padding-top: calc(0.45vw + 0.45vh);
  padding-bottom: calc(0.5vw + 0.5vh);

  border-radius: calc(0.3vw + 0.3vh);
}

div.plate.red {
  background-color: #c61616;
  color: #e8e8e8;
}

div.plate.white {
  background-color: #e8e8e8;
  color: #c61616;
}


div.timings {
  display: flex;
  flex-direction: row;
  margin-left: calc(0.5vw + 0.5vh);
}

div.timing {
  height: calc(7vw + 7vh);
  width: calc(5vw + 5vh);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: calc(1.05vw + 1.05vh);
  color: #101010;
}

div.timing.mini {
  width: calc(3.25vw + 3.25vh);
  font-size: calc(1vw + 1vh);
}

div.timing.mini > div.stats {
  height: calc(1vw + 1vh);
  width: calc(3.25vw + 3.25vh);

  position: relative;
  margin-top: calc(2vw + 2vh);
  margin-bottom: calc(0.4vw + 0.4vh);

  font-size: calc(0.8vw + 0.8vh);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

div.timing.mini > div.stats > img {
  width: calc(0.95vw + 0.95vh);
  margin-top: calc(0.2vw + 0.2vh);
  margin-bottom: calc(1vw + 1vh);
}

div.timing.mini span {
  width: calc(3.25vw + 3.25vh);
}


div.timing span {
  width: calc(5vw + 5vh);
  text-align: center;
}






div.departure:nth-child(odd) div.timing.seating-sea:nth-child(odd) {
  background-color: #60bd29;
}

div.departure:nth-child(odd) div.timing.seating-sea:nth-child(even) {
  background-color: #58ad25;
}

div.departure:nth-child(odd) div.timing.seating-sda:nth-child(odd) {
  background-color: #be9f14;
}

div.departure:nth-child(odd) div.timing.seating-sda:nth-child(even) {
  background-color: #d0ae16;
}

div.departure:nth-child(odd) div.timing.seating-lsd:nth-child(odd) {
  background-color: #c93e29;
}

div.departure:nth-child(odd) div.timing.seating-lsd:nth-child(even) {
  background-color: #bd3825;
}



div.departure:nth-child(even) div.timing.seating-sea:nth-child(even) {
  background-color: #60bd29;
}

div.departure:nth-child(even) div.timing.seating-sea:nth-child(odd) {
  background-color: #58ad25;
}

div.departure:nth-child(even) div.timing.seating-sda:nth-child(even) {
  background-color: #be9f14;
}

div.departure:nth-child(even) div.timing.seating-sda:nth-child(odd) {
  background-color: #d0ae16;
}

div.departure:nth-child(even) div.timing.seating-lsd:nth-child(even) {
  background-color: #c93e29;
}

div.departure:nth-child(even) div.timing.seating-lsd:nth-child(odd) {
  background-color: #bd3825;
}
