extends ../layout

block head
  title TransportSG - #{station.stopName}

block title
  span Next 2: #{station.stopName}

block scripts
  script(src='/static/scripts/timings.js' async)
  
block style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

block content
  div#departures
    include template
